body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr{
    width: 500px;
}

#board{
    width: 400px;
    height: 400px;

    background-color: #ffffff;
    border: 6px solid #000000;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    width: 90px;
    height: 90px;
    border: 5px solid #000000;

    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.x2{
    background-color: #B3E0FF;
    color: black;
}
.x4{
    background-color: #A5D6A7;
    color: black;
}
.x8{
    background-color: #FFCCBC;
    color: black;
}
.x16{
    background-color: #FFABAB;
    color: black;
}
.x32{
    background-color: #D1C4E9;
    color: black;
}
.x64{
    background-color: #FF8A80;
    color: black;
}
.x128{
    background-color: #80CBC4;
    color: black;
}
.x256{
    background-color: #9FA8DA;
    color: black;
}
.x512{
    background-color: #FFAB91;
    color: black;
}
.x1024{
    background-color: #A5D6A7;
    color: black;
}
.x2048{
    background-color: #FF8A80;
    color: black;
}
.x4096{
    background-color: #FF8A80;
    color: black;
}
.x8192{
    background-color: #FF8A80;
    color: black;
}

#game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    z-index: 1;
  }

  .game-over-animation {
    animation: fadein 2s;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
